# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
coverage/
coverage_badge.svg
.test_coverage.dart
doc/api/

# IDE / OS
.idea/
*.iml
.vscode/
.DS_Store

# Flutter example platform build artifacts
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/.fvm/
